.masonry
  margin: 110px auto
  padding: 0 5.5rem
  display: column
  position: relative
  z-index: 0
  > *
    break-inside: avoid

  .card
    position: relative
    margin-bottom: 15px
    transition: all 0.3s ease-in-out
    &:after
      border-radius: 1.10rem
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 99%
      background-color: black
      opacity: 0
    &:hover:after
      transition: all 0.3s ease-in-out
      opacity: 0.3
    &:hover p, &:hover .title
      opacity: 1
      transform: translateX(0.5rem)
    &:hover p
      opacity: 1
      transform: translateY(0.5rem)
    &:hover .title
      opacity: 1
      transform: translateY(-0.5rem)
    img
      width: 100%
      height: auto
      object-fit: cover
      border-radius: 15px

    p
      position: absolute
      top: 1rem
      right: 1rem
      opacity: 0
      transition: all 0.3s ease-in-out
      color: #EB5757
      padding: 1rem 2rem
      border-radius: 1.50rem
      border: solid 1px #EB5757
      font-size: 0.8rem
      z-index: 100

    .title
      font-size: 1.5rem
      font-weight: 600
      bottom: 0
      left: 0
      position: absolute
      width: 100%
      z-index: 80
      margin-bottom: 0.5rem
      color: white
      padding: 0.4rem 1rem
      text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.70)
      opacity: 0
      transition: all 0.3s ease-in-out
.noMatches
  margin: 0 auto
  margin-top: 100px
  width: 100%
  padding-left: 3rem

  // @supports (grid-template-rows: masonry)

//   .masonry
//     display: grid
//     grid-template-columns: repeat(3, 1fr)
//     grid-template-rows: masonry
//     // align-: stretch
//     grid-auto-flow: dense
//     gap: 20px
//   > *
//     break-inside: avoid
