@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap')
*
  margin: 0
  padding: 0
  // border: 1px solid red
  box-sizing: border-box

ul
  list-style-type: none
body
  font-family: 'Noto Sans', sans-serif
//Colors
$primaryBackgroundColor: white
$primaryColor: #424242
$secondaryBackgroundColor: darkblue
$secondaryColor: white
$golden: #b39656
$lightcoral: lightcoral
$alert: red
$submit: #3DB46D
$login: #2403b4
.link,
  text-decoration: none
footer
  width: 100%
  text-align: center
  position: fixed
  bottom: 1.5rem
  font-size: 0.875re
